# ==========================================
# RAW SEQUENCING DATA & DATABASES
# ==========================================
# We explicitly ignore these files to prevent massive repository bloat and avoid 
# hitting GitHub's strict file size limits (100MB per file). 
# Raw genomic data (.sra, .fastq.gz) and alignment/taxonomic databases (Bowtie2, Kraken2) are multi-gigabyte files that are meant to be downloaded and generated dynamically during the pipeline's execution, not stored in version control.

*.sra
*.fastq
*.fastq.gz
*.bt2
kraken_database/
GRCh38_noalt_as/
sra_data/
fastp_output/
bowtie2_output/
kraken2_output/

# Ignore large media files (since they shouldn't go to the code repo)
*.jpg
*.pptx
*.pdf

# Ignore OS files
.DS_Store
